.place__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
}

@media (min-width: 1024px){
    .place__title{
        font-size: 72px;
        line-height: 65px;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .place__title{
        font-size: 42px;
        line-height: 46px;
        margin: 0;
    }
}

@media (max-width: 767px){
    .place__title{
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}