.header__lang{
    display: flex;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
}

@media (min-width: 376px) {
    .header__lang li:first-child {
        margin-right: 18px;
    }
    .header__lang {
        font-size: 24px;
        line-height: 23px;
    }
}

@media (max-width: 375px) {
    .header__lang li:first-child {
        margin-right: 16px;
    }
    .header__lang {
        font-size: 18px;
        line-height: 17px;
    }
}
