.width-standart{
    margin: auto;
    transition: 1s linear;
}

@media (min-width: 1280px){
    .width-standart{
        max-width: 984px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px){
    .width-standart{
        max-width: 928px;
    }
}

@media (min-width: 376px) and (max-width: 1023px){
    .width-standart{
        max-width: 720px;
    }
}

@media (min-width:321px) and (max-width: 375px){
    .width-standart{
        max-width: 343px;
    }
}

@media (max-width: 320px){
    .width-standart{
        max-width: 288px;
    }
}