.cover__subtitle{
    max-width: 382px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    justify-self: center;
    grid-row: 4/5;
    grid-column: 1/1;
}