.cover__subtitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    justify-self: center;
    grid-row: 4/5;
    grid-column: 1/1;
    margin: 0;
}

@media (min-width: 768px){
    .cover__subtitle{
        font-size: 18px;
        line-height: 26px;
        max-width: 382px;
    }
}

@media (max-width: 767px){
    .cover__subtitle{
        font-size: 14px;
        line-height: 17px;
        max-width: 343px;
    }
}