@import './__lang/header__lang.css';
@import './__language-page/header__language-page.css';
@import './__language-page/_active/header__language-page_active.css';
@import './__logo/header__logo.css';
@import './__href/header__href.css';

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

@media (min-width: 768px) {
    .header {
        height: 52px;
    }
}

@media (max-width: 767px) {
    .header {
        height: 42px;
    }
}