@import './__lang/header__lang.css';
@import './__lang/_active/header__lang_active.css';
@import './__logo/header__logo.css';

.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

@media (min-width: 768px) {
    .header {
        height: 52px;
    }
}

@media (max-width: 767px) {
    .header {
        height: 42px;
    }
}