.video__item{
    display: grid;
    grid-template-columns: repeat(1, minmax( 288px, 583px));
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

@media (min-width: 375px) and (max-width: 424px){
    .video__item{
        height: 200px;
    }
}

@media (min-width: 425px) and (max-width: 768px){
    .video__item{
        height: 300px;
    }
}