.video__item{
    display: grid;
    grid-template-columns: repeat(1, minmax( 288px, 583px));
    color: #FFF;
    text-decoration: none;
    cursor: pointer;


    /* width: 583px;
    height: 323px;
    background-image: url('../../../images/container_video/Kamchatka.jpg');
    background-size: cover; */
}

.video__item:hover{
    /* background-image: linear-gradient(
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ),
        url('../../../images/container_video/Kamchatka.jpg'); */
    /* opacity: .4;
    transition: 1s linear; */
}