.intro__content-row{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    max-width: 683px;
}

@media (min-width: 376px){
    .intro__content-row {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}

@media (max-width: 375px){
    .intro__content-row {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 32px;
    }
}