.video__item-info{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 3;
    display: grid;
    grid-template-rows: 3fr auto auto auto;
    grid-template-columns: minmax( 256px, 583px);
}

@media (min-width: 1025px){
    .video__item-info{
        padding: 0 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .video__item-info{
        padding: 0 25px;
    }
}

@media (min-width: 376px) and (max-width: 767px){
    .video__item-info{
        padding: 0 30px;
    }
}

@media(max-width: 375px){
    .video__item-info{
        padding: 0 16px;
    }
}
