.lead__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    padding: 0;
}

@media (min-width: 768px){
    .lead__title {
        margin: 48px 100px 0;
        font-size: 96px;
        line-height: 93px;
        max-width: 782px;
    }
}

@media (min-width: 376px) and (max-width: 767px) {
    .lead__title {
        margin: 48px 16px 0;
        font-size: 50px;
        line-height: 55px;
        max-width: 500px;
    }
}

@media (max-width: 375px) {
    .lead__title {
        margin: 48px 16px 0;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}