@media (min-width: 1024px){
    .comments__content-subtitle{
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .comments__content-subtitle{
        margin-bottom: 66px;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    .comments__content-subtitle{
        margin-bottom: 42px;
    }
}

@media (max-width: 374px){
    .comments__content-subtitle{
        margin-bottom: 34px;
    }
}