.video__duration{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
}

@media (min-width: 1280px){
    .video__duration{
        margin: 94px 0 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px){
    .video__duration{
        margin: 54px 0 12px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .video__duration{
        margin: 12px 0 8px;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    .video__duration{
        margin: 41px 0 8px;
    }
}

@media (max-width: 374px){
    .video__duration{
        margin: 23px 0 8px;
    }
}