.place__paragraph{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}

.place__paragraph:nth-child(1){
    margin-bottom: 36px;
}

@media (max-width: 375px){
    .place__paragraph:nth-child(1){
        margin-top: 24px;
    }
}

@media (min-width: 768px){
    .place__paragraph{
        margin: 0;
    }
}

@media (min-width: 1024px){
    .place__paragraph{
        font-size: 18px;
        line-height: 30px;
    }
}


@media (max-width: 767px){
    .place__paragraph{
        margin: 0 16px;
    }
}

@media (max-width: 1023px){
    .place__paragraph{
        font-size: 16px;
        line-height: 27px;
    }
}