.place__paragraph{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

.place__paragraph:nth-child(1){
    margin-bottom: 36px;
}

@media (max-width: 375px){
    .place__paragraph:nth-child(1){
        margin-top: 24px;
    }
}