@import './__image/comment__image.css';
@import './__author/comment__author.css';
@import './__quote/comment__quote.css';

.comment{
    height: 100%;
    display: grid;
}

@media (min-width: 769px){
    .comment{
        grid-template-rows: 138px auto 1fr;
    }
}