.video__subitle{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
}

@media (min-width: 1280px){
    .video__subitle{
        margin: 18px 0 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px){
    .video__subitle{
        margin: 18px 0 25px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .video__subitle{
        margin: 12px 0 24px;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    .video__subitle{
        margin: 2px 0 24px;
    }
}

@media (max-width: 374px){
    .video__subitle{
        margin: 4px 0 16px;
    }
}