.intro__text{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
    margin: 0 0 102px;
}

@media (min-width: 1024px) {
    .intro__text {
        margin: 0 0 102px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
        margin: 0 0 97px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro__text {
        margin: 0 0 64px;
    }
}

@media (min-width: 376px) {
    .intro__text {
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 375px) {
    .intro__text {
        font-size: 12px;
        line-height: 19px;
    }
}