@media (min-width: 1184px){
    .margin-footer{
        margin: 160px 0 48px;
    }
}

@media (min-width: 768px) and (max-width: 1183px){
    .margin-footer{
        margin: 102px 23px 29px;
    }
}

@media (max-width: 767px){
    .margin-footer{
        margin: 64px 0 24px 16px;
    }
}