@media (min-width: 1280px) {
    .margin_places{
        margin: 92px auto 102px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .margin_places {
        margin: 102px auto;
    }
}

@media (max-width: 767px) {
    .margin_places {
        /* margin: 64px auto; */
        margin: 64px 0;
    }
}

