.video__item_kamchata{
    background-image: url('../../../../images/container_video/Kamchatka.jpg');
    background-size: cover;
}

.video__item_kamchata:hover{
    background-image: linear-gradient(
          rgba(0, 0, 0, .5),
          rgba(0, 0, 0, .5)
        ),
        url('../../../../images/container_video/Kamchatka.jpg');
}