@media (min-width: 1440px) {
    .header-margin {
        margin: 30px 128px 0;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .header-margin {
        margin: 30px 48px 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .header-margin {
        margin: 30px 24px 0;
    }
}

@media (max-width: 767px){
    .header-margin {
        margin: 16px 16px 0;
    }
}