.footer__nav{
    display: grid;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 376px){
    .footer__nav{
        font-size: 24px;
        line-height: 41px;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1439px){
    .footer__nav{
        margin: 0 0 48px 48px;
    }
}

@media (min-width: 376px) and (max-width: 768px){
    .footer__nav{
        margin: 0 0 24px 24px;
    }
}

@media (max-width: 375px){
    .footer__nav{
        font-size: 24px;
        line-height: 41px;
        grid-template-rows: repeat(5, 1fr);
        margin: 0 0 0 16px;
    }
}