@import '../vendor/normalize.css';

@import '../fonts/inter.css';

@import '../blocks/page/page.css';
@import '../blocks/header/header.css';
@import '../blocks/main/main.css';
@import '../blocks/cover/cover.css';
@import '../blocks/footer/footer.css';
@import '../blocks/intro/intro.css';
@import '../blocks/lead/lead.css';
@import '../blocks/photo-grid/photo-grid.css';
@import '../blocks/places/places.css';
@import '../blocks/video/video.css';
@import '../blocks/intro_dop_margin/intro_dop_margin.css';
@import '../blocks/place/place.css';
@import '../blocks/body/body.css';
@import '../blocks/content-subtitle/content-subtitle.css';
@import '../blocks/content-title/content-title.css';

@import '../blocks/comments/comments.css';
@import '../blocks/comment/comment.css';
@import '../blocks/places_container/places_container.css';



@import '../blocks/width-standart/width-standart.css';
@import '../blocks/width-standart-plus/width-standart-plus.css';
@import '../blocks/margin_places/margin_places.css';
@import '../blocks/margin_intro/margin_intro.css';
@import '../blocks/header-margin/header-margin.css';
@import '../blocks/margin_blok_video_and_comments/margin_blok_video_and_comments.css';
@import '../blocks/footer_container/footer_container.css';