.lead__caption{
    align-self: flex-start;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
}

@media (min-width: 376px) and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width: 375px) {
    .lead__caption {
        margin-left: 16px;
    }
}