.cover__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    grid-row: 3/4;
    grid-column: 1/1;
    align-self: center;
    justify-self: center;
    margin: 0;
}

@media (min-width: 768px){
    .cover__title{
        font-size: 72px;
        line-height: 78px;
    }
}

@media (max-width: 767px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .cover__title{
        max-width: 520px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .cover__title{
        max-width: 255px;
    }
}