.intro__text_bold{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}

@media (min-width: 376px) {
    .intro__text_bold {
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 375px) {
    .intro__text_bold {
        font-size: 12px;
        line-height: 19px;
    }
}