@import './__copyright/footer__copyright.css';
@import './__link/footer__link.css';
@import './__nav/footer__nav.css';

.footer{
    display: grid;
    color: #FFF;
}

@media (min-width: 376px){
    .footer{
        font-size: 24px;
        line-height: 41px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 375px){
    .footer{
        font-size: 24px;
        line-height: 41px;
        grid-template-rows: repeat(2, 1fr);
    }
}