@import './__copyright/footer__copyright.css';
@import './__link/footer__link.css';
@import './__nav/footer__nav.css';

.footer{
    display: grid;
    color: #FFF;
}

@media (min-width: 768px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px){
    .footer{
        grid-template-rows: repeat(2, auto);
    }
}