.place__url{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: none;
    
    border-bottom: 1px solid #FFF; 
    font-weight: normal; 
    padding-bottom: 1px; 
    
    cursor: pointer;
    color: #FFF;;
}

.place__url:hover{
    opacity: .4;
    transition: 1s linear;
}