.place__url{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #FFF;;
}

.place__url:hover{
    opacity: .4;
    transition: 1s linear;
}