@media (min-width: 1024px){
    .video__content-subtitle{
        margin-bottom: 72px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .video__content-subtitle{
        margin-bottom: 56px;
    }
}

@media (max-width: 767px){
    .video__content-subtitle{
        margin-bottom: 24px;
    }
}